
    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #225a92;
      text-align: left;
      background-color: #fff;
    }

  @media (min-width: 768px) {
    #nav-bar {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .navbar-expand-sm {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  #nav-bar {
    background: #214c9c;
    color: #fdfafa;    
    }

  .navbar {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*padding: .5rem 1rem;*/
    height: 80px;
    
  }

  footer, nav {
    display: block;
    
  }

  .nav-link {
    list-style-type: none;
    color: white;
  }

  .nav-link:hover {
    color: gray;
  }

 .nav-item {
   color: white;
 }

  .footer {
    background: #214c9c;
    height: 80px;
    color: white;
  }


  .package-cards {
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;

  }

  #packages {
    width: 90%;
    
  }

  .card-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cost, .rating {
    display: flex;
    justify-content: center;
  }

  .img-fluid {
    display: block;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 90%;
    height: 500px;
  }

  .card-title, .card-text {
    text-align: center;
  }

  /*.row {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left:70px;
    
  }*/

  .card {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }