body {
    padding-top: 56px;
    max-width: 1000px;
    margin: auto;
  }
  
  #nav-bar {
    overflow: hidden;
    background-color: #9bb4be;
    display: inline-block;
    
    width: 100%;
    height: 100px;
    
  }

   ul {
    list-style-type: none;
    /*display: flex;
    flex-direction: row;
    justify-content: right;*/
  }

  .nav-link {
    width: 100%;
    display: block;
    
        
  }

  